
<footer id="footer" style="bottom: 0">
    <div class="text-center center-block">
        <p class="copyright">&copy; 2017 - Harshit Sharma</p>
        <br />
    </div>
</footer>

</div>

<!-- Latest compiled and minified JavaScript -->
<!-- js -->
<script src = "/javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

</body>
</html>