
<footer class="page-footer" id="footer">
    <div class="container">
        <div class="col m4 s12">
            <p>&copy; AdPoster 2017 - Harshit Sharma</p>
        </div>
    </div>
</footer>

</div>

<!-- Latest compiled and minified JavaScript -->
<!-- js -->
<script src = "/javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

</body>
</html>