<% include ./partials/header.ejs %>
<article id="about">
    <blockquote>About Us</blockquote>
    <p class="flow-text">This is Classified Ads Website allows you to buy, sell any product. Registration is free of cost.
                        So browse ads from other people and also sell your own products by adding a title,
                        description and price for your item.</p>
</article>
<% include ./partials/footer.ejs %>