<% include ./partials/header.ejs %>
<article id="about">
    <blockquote>About Us</blockquote>
    <p class="flow-text">This is Website allows you to .....</p>
</article>
<% include ./partials/footer.ejs %>