
<% include ./partials/header.ejs %>
  <div class="row">
    <blockquote>Home</blockquote>
    <div class="container">
        <h4>Find out anything</h4>

        <div class="section">
            <p class="flow-text">A classified ad website which allows you to buy, sell any product.</p>
        </div>
          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-mobile fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Mobile</p>
              <p class="light center">You can find here all types of mobiles new or used.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-laptop fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Electronics & Appliances</p>
              <p class="light center">Get any appliance in low price, which you can easily find here.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-car fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Car</p>
              <p class="light center">You could take a test drive of a car before buying it.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-motorcycle fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Bike</p>
              <p class="light center">Find out all latest bikes here.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Real Estate</p>
              <p class="light center">Find a house, apartment here.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-briefcase fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Jobs & Services</p>
              <p class="light center">Find a job - Simple & Easy.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-paw fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Pets</p>
              <p class="light center">Get your first pet animal from here.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-shirtsinbulk fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Fashion</p>
              <p class="light center">Find out latest fashion clothing.</p>
            </div>
          </div>

          <div class="col s6 m6 l4 xl4">
            <div class="center promo promo-example">
              <span class="fa-stack fa-3x">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-soccer-ball-o fa-stack-1x"></i>
              </span>
              <p class="promo-caption">Sports</p>
              <p class="light center">Find out sports equipments.</p>
            </div>
          </div>

        </div>
    </div>
<% include ./partials/footer.ejs %>