<% include partials/header.ejs %>

<blockquote>Login</blockquote>
<div class="container">

    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
    <% }
    else { %>
        <div class="alert alert-info">Please enter your Credentials</div>
    <% } %>
    <form method="post">
        <div class="row">
            <div class="input-field col s12 l12 m12">
                <i class="fa fa-envelope prefix"></i>
                <input id="username" name="username" required type="email" class="validate" />
                <label for="username" id="username" data-error="please enter valid email" data-success="perfect!">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l12 m12">
                <i class="fa fa-key prefix" aria-hidden="true"></i>
                <input id="password" name="password" required type="password" class="validate" />
                <label for="password" id="password">Password</label>
            </div>
            <p>
                <input type="checkbox" id="showPass" />
                <label for="showPass">Show Password</label>
            </p>
        </div>
        <div class="row">
        <div class="col s12 m12 l6">
            <button style="width: 17em;" class="btn waves-effect blue darken-4 white-texts">Login with Email<i class="fa fa-sign-in left"></i></button>
        </div>
            <br><br>
        <div class="col s12 m12 l6">
            <a href="/linkedin" style="width: 17em;" class="btn btn-block btn-social btn-linkedin">
                <span class="fa fa-linkedin"></span>Login with LinkedIn
            </a>
        </div>
        </div>
        <br />
        <hr class="style10" />
        Need access?  <a href="/register" title="Register">Register</a>
    </form>

</div>

<% include partials/footer.ejs %>