<% include partials/header.ejs %>

<blockquote>Login</blockquote>
<div class="container">

    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
    <% }
    else { %>
        <div class="alert alert-info">Please enter your Credentials</div>
    <% } %>
    <form method="post">
        <div class="row">
            <div class="input-field col s12 l12 m12">
                <i class="fa fa-envelope prefix"></i>
                <input id="username" name="username" required type="email" class="validate" />
                <label for="username" id="username" data-error="please enter valid email" data-success="perfect!">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l12 m12">
                <i class="fa fa-key prefix" aria-hidden="true"></i>
                <input id="password" name="password" required type="password" class="validate" />
                <label for="password" id="password">Password</label>
            </div>
            <p>
                <input type="checkbox" id="showPass" />
                <label for="showPass">Show Password</label>
            </p>
        </div>
        <div class="row">
        <div class="col s6">
            <button class="btn btn-block btn-success fa fa-envelope">
                <span class="fa fa-success"></span> Sign in with Email
            </button>
        </div>
        </div>
        <br />
        <div class="row">
        <div class="col s6">
            <a href="/facebook" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
        </div>
        </div>
        <br />
        <div class="row">
            <div class="col s6">
                <a href="/google" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Sign in with Google
                </a>
            </div>
        </div>
        <hr class="style10" />
        Need access?  <a href="/register" title="Register">Register</a>
    </form>

</div>

<% include partials/footer.ejs %>