<% include ../partials/header.ejs %>

<blockquote>Ad Details</blockquote>
<div class="container">

    <form method="post">
        <div class="input-field col s12 l6 m6">
            <input id="title" type="text" name="title" required value="<%= ad.title %>"  />
            <label for="title" id="title">Title</label>
        </div>
        <div class="input-field col s12 l6 m6">
            <input id="description" type="text" name="description" required value="<%= ad.description %>"  />
            <label for="description" id="description">Description</label>
        </div>
        <div class="input-field col s12 l6 m6">
            <input id="price" name="price" min="0.01" type="number" step="any" value="<%= ad.price %>"  />
            <label for="price" id="price">Price</label>
        </div>
        <button class="btn btn-success">Save</button>
    </form>

</div>

<% include ../partials/footer.ejs %>